<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <base href="<%=basePath%>">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>弹窗</title>
    <script type="text/javascript" src="/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/FileSaver.js"></script>
</head>

<body>
<h2>你好：窗口 <span id="cid" th:text="${cid}"></span>
</h2>
<div>
    <!--<input id="start">-->
    <!--<input id="message">-->
    <br>
    <br>
    <textarea id="msg_area" rows="10" cols="50">

</textarea>
</div>
<!--<iframe id="my_iframe" style="display:none;"></iframe>-->
<script type="application/javascript">
    var cid = $("#cid").text();
    var socket;
    if (typeof(WebSocket) == "undefined") {
        console.log("您的浏览器不支持WebSocket");
    } else {
        console.log("您的浏览器支持WebSocket");
        //实现化WebSocket对象，指定要连接的服务器地址与端口 建立连接
        //等同于socket = new WebSocket("ws://localhost:8083/checkcentersys/websocket/20");
        //socket = new WebSocket("http://localhost:8080/websocket/${cid}".replace("http","ws"));
        socket = new WebSocket("ws://localhost:8080/websocket/" + cid);
        //打开事件
        socket.onopen = function () {
            console.log("Socket 已打开");
            var date = new Date();
            $("#msg_area").append( date +":\n");
            $("#msg_area").append("Socket 已打开\n");
            //socket.send("这是来自客户端的消息" + location.href + new Date());
        };
        //获得消息事件
        socket.onmessage = function (msg) {
            console.log(msg.data);
             var date = new Date();
            $("#msg_area").append( date +":\n");
            $("#msg_area").append(msg.data + "\n");
            //发现消息进入 开始处理前端触发逻辑
        };
        //关闭事件
        socket.onclose = function () {
            console.log("Socket已关闭");
            $("#close").val("Socket已关闭");
            var date = new Date();
            $("#msg_area").append( date +":\n");
            $("#msg_area").append("Socket已关闭");
        };
        socket.onerror = function () {
            alert("Socket发生了错误");
        }
    }
</script>
<div>
    <br>
    <input id="msg">
    <input id="submit_button" type="button" value="发送消息">
</div>

</body>
<script type="application/javascript">

    $("#submit_button").click(function () {
        var cid = $("#cid").text();
        var msg = $("#msg").val();
        var url = "http://localhost:8080/websocket/push/" + cid + "?message=" + msg
        $.ajax({
            url: url,
            success: function (result) {
                $("#msg").val("");
            }
        });
    });
</script>
</html>
